/* NEXA FONT - LIGHT & BOLD */
@font-face {
        font-family: 'Nexa_Free_Light';
        src: url('Nexa_Free_Light-webfont.woff2') format('woff2'), url('Nexa_Free_Light-webfont.woff') format('woff');
        }

@font-face {
        font-family: 'nexa_bold';
        src: url('nexa_bold-webfont.woff') format('woff'), url('nexa_bold-webfont.woff2') format('woff2');
        }



/* BODY */

        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        body {
            font-family: 'Nexa_Free_Light';
            font-size: 1em;
            background-color: #fff;
            width: 100%;
        }

        * {
            box-sizing: border-box;
        }


/* HEADER & NAVIGATION */

        header {
            height: 2em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            background-color: #ffffff;
            padding: 3em 3em 3em 2em;
        }

        nav ul {
            list-style: none;
            align-items: center;
            display: flex;
            padding-left: 0.5em;
        }

        nav li {
            margin: 0 0.8em;
            display: flex;
        }

        nav ul li a {
            text-decoration: none;
            font-family: 'nexa_bold';
            font-size: 0.5em;
            color: #00D66C;
        }

        header img {
            height: 3.5em;
        }

        nav ul li:nth-of-type(3) a {
            border: none;
            border-radius: 0.8em;
            padding: 0.4em 0.5em;
            background-color: #ff3268;
            color: #ffffff;
            display: flex;
            box-shadow: 0em 0.2em #B3254A;
        }



/* VERHAAL - TITEL EN BUTTONS */

section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 3em;
    background-color: #F3E5D9;

}

section div {
    display: flex;
    align-content: flex-end;

}
 main {
     width: 90%;
     margin: 0 auto;
   }

/* VERHAAL */



h2 {
    font-family: 'nexa_bold';
    font-size: 1.3em;
    padding: 0em 1em;
    margin: 2em 0em;
    color: #2800a0;
    text-decoration: none;
}



/* STORY BUTTONS : SAVE - DOWNLOAD - READ*/

button#plus {
    padding-bottom: 1em;
    background-image: url(icons/add.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

button#plus:focus {
    background-image: url(icons/checkmark-xxl.png);
    outline: none;
}

button#download{
    padding-bottom: 1em;
    background-image: url(icons/downloadwit.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

button#download:focus {
    background-image: url(icons/download.gif);
    background-size: 3.5em;
    outline: none;
}


button {
    margin: 0.35em;
    padding: 2.5em 0.5em 0.5em 0.5em;
    background-color: #00D66C;
    width: 3.5em;
    font-family: 'nexa_bold';
    font-size: 1em;
    color: #fff;
    border-radius: 5em;
    border: none;
    box-shadow: 0em 0.2em #01964C;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #ff3268;
    box-shadow: 0em 0.2em #B3254A;
    transition-duration: 0.6s;
}


div img {
    width: 100%;
}

#save.yay:after {
    content: "➊";
    font-family: 'nexa_bold';
    font-size: 1.5em;
    color: #00D66C;
}

#book {
    position: relative;
    padding-bottom: 56%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

}

#book iframe {
    width: 100%;
    height: 500px;
}



/* VERHAAL : IPHONE */



/* MEDIA QUERIES */
/* MEDIA QUERIES : MOBILE - 280px */

@media(min-width:280px) {


    nav ul li a {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.5em;
        color: #2800a0;
        width: 90%;
        margin: 2em 0em;
        font-family: 'nexa_bold';
    }

     #save.yay:after {
        font-size: 1.2em;
    }


    h2 + div {
        padding: 1em;
    }

     video:first-of-type {
        display: block;
         width: 100%;
    }

    video:nth-of-type(2) {
        display: none;
    }

    div img.mobile {
        display: block;
    }

    div img.desktop {
        display: none;
    }

    /* VERHAAL : IPHONE - 280px */

    a img.next {
        position: absolute;
        width: 4em;
        bottom: 3em;
        right: 4em;
    }

    a img.back {
        position: absolute;
        width: 4em;
        bottom: -2em;
        right: 4em;
    }



    /* VERHAAL : VERLIEFD - 280px */

    #book iframe {
        width: 100%;
        height: 270px;
    }





/* MEDIA QUERIES : TABLET - 700px */

@media(min-width:700px) {


    nav ul li a {
        font-size: 1.5em;
    }

    #save.yay:after {
        font-size: 1.5em;
    }


     video:first-of-type {
        display: block;
         width: 100%;
    }

    video:nth-of-type(2) {
        display: none;
    }

    div img.mobile {
        display: block;
         width: 100%;
    }

    div img.desktop {
        display: none;
    }

    /* VERHAAL : IPHONE - 700px */

    a img.next {
        position: absolute;
        width: 4em;
        bottom: -15em;
        right: 6em;
    }

    a img.back {
        position: absolute;
        width: 4em;
        bottom: -20em;
        right: 6em;
    }

    /* VERHAAL : VERLIEFD - 700px */

   #book iframe {
        width: 100%;
        height: 350px;
    }




/* MEDIA QUERIES : DESKTOP - 1000px */

@media(min-width:1000px) {


        h2 {
            padding: 0em 2em;
        }


         video:first-of-type {
            display: none;
        }

        video:nth-of-type(2) {
            display: block;
            width: 100%;
        }

        div img.mobile {
            display: none;
        }

        div img.desktop {
            display: block;
            width: 100%;
        }

        /* VERHAAL : IPHONE - 1000px */

        a img.next {
            position: absolute;
            width: 4em;
            bottom: 5em;
            right: 8em;
            }

        a img.back {
            position: absolute;
            width: 4em;
            bottom: 0em;
            right: 8em;
        }

    /* VERHAAL : VERLIEFD - 1000px */

    #book iframe {
    width: 100%;
    height: 500px;
}


    }




/* LINK HOVER EFFECT - Bron : http://ianlunn.github.io/Hover/ */


/* LINK HOVER - BUZZ */

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
